---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="😂"
	pubDate={new Date('July 21 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		这里是<a href="https://Cookiesukaze.cn/">Cookiesukaze</a>用于存放一些工具代码的Astro应用：AkashaArts<br>
	</p>
	<p>
		上面的博客年久失修，只存放了我的部分涂鸦，但是一段时间（几个月）后我会继续更新<br>
	</p>
	<p>
		<a href="https://github.com/Cookiesukaze">Github</a>存放了所有我上传的工作，其中特别推荐您使用的是<a href="https://github.com/Cookiesukaze/MyriadTruths">桌面便利贴</a>
	</p>
	<p>
		本站还使用着Astro默认的博客模板，但是一段时间（几个月）后我（或许）会翻修
	</p>
	<p>
		对自己是一个懒人深感痛心
	</p>

</Layout>
