---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> Welcome！</h1>
			<p>
				存放一些工具代码的Astro应用：<a href="https://github.com/Cookiesukaze/AkashaArts">AkashaArts</a>，创建它是为了便捷地查找我的代码
			</p>

			<p>近期会对AkashaArts做出的改变有：</p>
			<ul>
				<li>存储代码</li>
			</ul>

			<p>未来会对AkashaArts做出的改变有：</p>
			<ul>
				<li>持续存储代码</li>
				<li>美化样式</li>
				<li>加入Collection和Tag以更好地管理代码</li>
				<li>在线运行代码（如果我能做到的话）</li>
				<li>把本站做成某种可以便捷使用的模板，给更多想建立属于自己的代码库的人使用</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
